<mat-card>
    <mat-grid-list  cols=1 gutterSize=20px rowHeight=10:1>
        <mat-grid-tile>
            <mat-card-title>{{ isEdit ? 'UPDATE' : 'CREATE' }} TODO</mat-card-title>
        </mat-grid-tile>
    </mat-grid-list>
    <mat-card-content>
       <form [formGroup]='todoForm' (ngSubmit)='onSubmit()'>
        <mat-grid-list cols=1 gutterSize=10px rowHeight=15:1 >
            <mat-grid-tile>
                <mat-form-field>
                    <mat-label>Title</mat-label>
                    <input matInput formControlName="title">
                </mat-form-field>
            </mat-grid-tile>
        <mat-grid-tile>
            <h2 class="example-h2">Remind me!</h2>
            <section class="example-section">
              <mat-slide-toggle
                  class="example-margin"
                  color="accent"
                  [checked]="isEdit ? isReminder : reminderChecked"
                  (change)="isReminderChecked($event)">
               </mat-slide-toggle>
            </section>
        </mat-grid-tile>
            <span *ngIf="isEdit ? isReminder : reminderChecked">
                <mat-grid-tile>
                    <mat-form-field>
                        <input matInput [min]="min" [matDatepicker]='reminderdatepicker' placeholder="Remind me on" formControlName="reminderDate">
                        <mat-datepicker-toggle  [for]='reminderdatepicker' matSuffix></mat-datepicker-toggle>
                        <mat-datepicker #reminderdatepicker></mat-datepicker>
                    </mat-form-field>
                </mat-grid-tile>
            </span>
        <mat-grid-tile>
        <section class="example-section">
            <label class="example-margin" style="font-weight: 600;">Categories:</label>
            <div formArrayName="listOfTodo" *ngFor= 'let item of getListArray.controls; let i=index'>
                <mat-checkbox [formControlName]="i" class="example-margin">
                    {{ todoData[i].value }}
                </mat-checkbox>
            </div>
          </section>
        </mat-grid-tile>
        <mat-grid-tile>
            <input type="file" (change)="uploadFile($event)" accept=".jpeg .png .jpg" >
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="avatar-preview">
                <img [src]="isEdit ? image : imageUrl" alt="" formControlName="todoImage">
            </div>
        </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols=1 gutterSize=20px rowHeight=10:1>
        <mat-grid-tile>
            <button mat-raised-button type="submit" class="btn-style" color="primary">{{ isEdit ? 'Update' : 'Submit' }}</button>
          
        </mat-grid-tile>
    </mat-grid-list>
           
       </form>
    </mat-card-content>
</mat-card>