
<button mat-raised-button (click)="openDialog()" style="margin-left: 20px; margin-top: 20px;">Add todo</button>
<!-- <span class="searchPos" ><app-search [parentData]="list" (searchEvent)="listFromSearch=$event"></app-search></span> -->
<span>
    <mat-form-field class="searchPos">
        <input  type="text" placeholder="Search" [(ngModel)]="searchValueData" (ngModelChange)="searchValue()" matInput>
    </mat-form-field>
</span>
<div *ngIf="list.length === 0"> 
    <span style="font-weight: 600; font-size: larger;">NO DATA TO SHOW, PLEASE ADD</span>
</div>
<div *ngFor="let item of list">
    <mat-list>
        <mat-card class="cardpos">
            <mat-card-title>TITLE: {{ item?.title }}</mat-card-title>
            <mat-card-content>
                <span class="fontStyle">Date Created: </span>{{ item?.date | date }}<br>
                <span class="fontStyle">Categories:</span>{{ item?.listOfTodo }}
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button (click)="onEdit(item.id)">EDIT</button>
                <button mat-raised-button (click)="onDelete(item.id)">DELETE</button>
            </mat-card-actions>
        </mat-card>
       </mat-list>
</div>

<!-- <app-profilepage></app-profilepage> -->
