
<button mat-raised-button (click)="openDialog()" style="margin-left: 20px; margin-top: 20px;">Add todo</button>
<span>
    <mat-form-field class="searchPos">
        <input  type="text" placeholder="Search" [(ngModel)]="searchValueData" (ngModelChange)="searchValue()" matInput>
    </mat-form-field>
</span>
<mat-form-field >
    <mat-label>Sort By</mat-label>
    <mat-select [(ngModel)]="selectedValue" name="temp" (ngModelChange)="getSortValue()">
        <mat-option *ngFor="let temp of sortFields" [value]="temp.value">
          {{temp.viewValue}}
        </mat-option>
      </mat-select>
  </mat-form-field>
  <span>
    <button *ngIf="!isEditable" mat-fab color="primary" (click)="onEditClick()" [disabled]="!selectedValue">
        <mat-icon>arrow_upward</mat-icon>
      </button>
      <button *ngIf="isEditable" mat-fab color="primary" (click)="onEditClick()" [disabled]="!selectedValue">
        <mat-icon>arrow_downward</mat-icon>
      </button>
  </span>
<div *ngIf="list.length === 0"> 
    <span style="font-weight: 600; font-size: larger;">NO DATA TO SHOW, PLEASE ADD</span>
</div>
<div *ngFor="let item of list">
    <mat-grid-list cols=1 gutterSize=10px rowHeight=6:1 >
        <mat-grid-tile>
                <mat-card style="width: 25em; height: 12em;" class="box-shadow">
                    <mat-card-title>TITLE: {{ item?.title }}</mat-card-title>
                    <mat-card-content>
                        <div class="fontStyle">Date Created: {{ item?.date | date }} </div>
                        <div class="fontStyle">Categories: {{ item?.listOfTodo }}</div>
                        <div *ngIf="item.isReminder" style="color: red; font-weight: 600;">Due: {{ item?.reminderDate | date }}</div>
                    </mat-card-content>
                    <mat-grid-list cols=1 gutterSize=20px rowHeight=3:1>
                        <mat-grid-tile>
                            <mat-card-actions>
                                <button mat-raised-button (click)="onEdit(item.id)" color="primary">EDIT</button>
                                <button mat-raised-button (click)="onDelete(item.id)" color="warn">DELETE</button>
                            </mat-card-actions>
                        </mat-grid-tile>
                    </mat-grid-list>
                </mat-card>
        </mat-grid-tile>
    </mat-grid-list>

    <!-- <mat-list>
        <mat-card class="cardpos">
            <mat-card-title>TITLE: {{ item?.title }}</mat-card-title>
            <mat-card-content>
                <span class="fontStyle">Date Created: </span>{{ item?.date | date }}<br>
                <span class="fontStyle">Categories:</span>{{ item?.listOfTodo }}
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button (click)="onEdit(item.id)">EDIT</button>
                <button mat-raised-button (click)="onDelete(item.id)">DELETE</button>
            </mat-card-actions>
        </mat-card>
       </mat-list> -->
</div>

<div>
    <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="weight">
          <mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>
        </ng-container>
      
        <!-- Symbol Column -->
        <ng-container matColumnDef="symbol">
          <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
        </ng-container>
      
        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let row;">
          <button mat-icon-button>
            <mat-icon>launch</mat-icon>        
          </button>
          <button mat-icon-button>
            <mat-icon color="warn">delete</mat-icon>
          </button>
        </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
</div>
<!-- <app-profilepage></app-profilepage> -->
