.cardpos {
    width: 50%;
    margin-left: 20px;
    margin-top: 20px;
}
.fontStyle {
    font-weight: 600;
    
}
.searchPos {
    display: inline-block;
    margin-left: 300px;
}
.box-shadow {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;
}
table {
    width: 50%;
  }
.tableWidth {
    width: 50% !important;
    margin: auto 25% !important;
}  