<mat-toolbar color='primary' class="navbar">
    <div (click)="navigateDashboard()">ToDo App</div>
    <div > 
        <span *ngIf="!isAuthenticated">
            <span routerLink="signup">SignUp </span>
            <span routerLink="signin">SignIn</span>
        </span>
            <span *ngIf="isAuthenticated">
                <span routerLink="profilepage" (click)="fetchUserData()">Profile Page</span>
            </span>
            <span *ngIf="isAuthenticated">
                <span (click)="logout()">LogOut</span>
            </span>
            <!-- <span *ngIf="isAuthenticated">
                <span routerLink="contact">Contact</span>
            </span> -->
    </div>
  </mat-toolbar>