<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{userData?.fname}}</mat-card-title>
      <mat-card-subtitle>{{ userData?.lname }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="userData?.profilePicture" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <span style="font-weight: 600;">Email Id: &nbsp;</span>{{ userData?.email }}<br>
      <span style="font-weight: 600;">Address: &nbsp;</span>{{ userData?.address }}<br>
      <span style="font-weight: 600;">Gender: &nbsp;&nbsp;&nbsp;</span>{{ userData?.gender }}
    </mat-card-content>
    <mat-card-actions>
      <button mat-stroked-button color="accent" (click)="onEdit()">Edit</button>
      <!-- <button mat-stroked-button color="accent" (click)="onDelete()">Delete</button> -->
    </mat-card-actions>
  </mat-card>


  
  