/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.foo .mat-dialog-container {
    padding: 0px !important;
    width: 60em !important;
}
.todoListClass .mat-dialog-container {
    padding: 0px !important;
    width: 60em !important;
    overflow: hidden !important;
}
.todoEdit .mat-dialog-container {
    padding: 0px !important;
    width: 60em !important;
    overflow: hidden !important;
}
.required {
    color: #F5594D !important;
}
  